.box1{
	height: 200px;
	width: 200px;
	background-color: #ee3e64

}

.box2{
	height: 200px;
	width: 200px;
	background-color: #44accf;
}
.box3{
	height: 200px;
	width: 200px;
	background-color: #b7d84b;
}

.body{
	margin:0;
	padding: 0;
}

.box1, .box2 , .box3{
	position: relative;

}

.box1,.box2{
	display: inline-block;
	 
}
p{
	margin: 0px;
}
